@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #f5f0ec;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

html, body {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 0 5vw;
}

section {
  padding: 100px 0;
  .section-header {
    margin-bottom: 50px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 24px;
  letter-spacing: 1px;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
}

.header-container {
  position: relative;
  .header-menu {
    position: absolute;
    left: 0;
    top: 100px;
    letter-spacing: 1px;
    color: #626262;
    text-transform: uppercase;
  }
  li {
    margin: 10px 0;

  }
}

#header-text {
  font-size: 20vw;
  text-transform: uppercase;
  text-align: center;;
  font-weight: 600;
}


