@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #f5f0ec;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 0 5vw;
}

section {
  padding: 100px 0;
  .section-header {
    margin-bottom: 50px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 24px;
  letter-spacing: 1px;
  color: #464646;
  font-weight: 600;
  text-transform: uppercase;
}

.header-container {
  position: relative;
  .header-menu {
    position: absolute;
    left: 0;
    top: 100px;
    letter-spacing: 1px;
    color: #626262;
    text-transform: uppercase;
  }
  li {
    margin: 10px 0;

  }
}

#header-text {
  font-size: 18vw;
  text-transform: uppercase;
  text-align: center;;
  font-weight: 600;
}

.featured-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  img {
    clip-path: inset(0% 0% 0% 0%);
  }
  h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .featured-row-layout, .featured-column-layout {
    display: grid;
    gap: 10px;
  }

  .featured-row-layout {
    grid-template-rows: repeat(2, auto);
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }

  .featured-column-layout {
    grid-template-columns: 100px auto;
    align-items: flex-end;
    img {
      width: 100%;
      height: 125vh;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }

  .featured-column-layout img {
    width: 500px;
    height: 500px;
  }
h6 {
  transform: translateX(100%) rotate (-90deg);
}
}


